@import 'tailwindcss';

@theme {
  --color-primary: #000;
  --color-light-text: #666766;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* Apply a consistent base color profile */
* {
    print-color-adjust: exact;
    font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1{
    font-size: 1.75em;
}
h2{
    font-size: 1.25em;
    @apply underline mb-4;
}
h3{
    @apply font-medium;
    font-size: 1.17em;
}
h4{
    font-size: 1em;
}
h5{
    font-size: 0.83em;
}
h6{
    font-size: 0.67em;
}

body {
    background: #999;
}

.page {
    background: white;
    height: 11in; /* Height of letter-size paper */
    width: 8.5in; /* Width of letter-size paper */
    box-sizing: border-box;
    border-bottom: 1px solid #999;
    padding: 0.5in 0.5in;
    margin-bottom: 0.5in;
}

.task {
    @apply relative pl-2.5;
}

.task:before {
    @apply content-[''] border-t-2 border-t-primary w-1.5 absolute left-0 m-auto top-2.5;
}

/* Print-specific styles */
@media print {
    body, .page {
        background: white;
    }
    .page{
        border-bottom: none;
        margin: 0;
        overflow: hidden;
    }

    .page-break {
        page-break-before: always;
    }

    .avoid-break {
        page-break-inside: avoid;
    }

    body {
        margin: 0;
    }

    @page {
        size: letter;  /* You can specify other sizes, e.g., Letter, Legal */
        margin: 0;
    }
}
