@tailwind base;
@tailwind components;
@tailwind utilities;
/* Apply a consistent base color profile */
* {
    print-color-adjust: exact;
}

body {
    background: #999;
}

.page {
    background: white;
    height: 11in; /* Height of letter-size paper */
    width: 8.5in; /* Width of letter-size paper */
    box-sizing: border-box;
    border-bottom: 1px solid #999;
    padding: 0.25in 0.25in;
    margin-bottom: 0.25in;
}

.task {
    @apply text-xs relative pl-2.5;
}

.task:before {
    @apply content-[''] border-t-2 border-t-primary w-1.5 absolute left-0 m-auto top-1.5;
}

/* Print-specific styles */
@media print {
    body, .page {
        background: white;
    }
    .page{
        border-bottom: none;
        margin: 0;
        overflow: hidden;
    }

    .page-break {
        page-break-before: always;
    }

    .avoid-break {
        page-break-inside: avoid;
    }

    body {
        margin: 0;
    }

    @page {
        size: letter;  /* You can specify other sizes, e.g., Letter, Legal */
        margin: 0;
    }
}
